.body{
    font-family: LATO,roboto MONO;
    color: $color-content;
}

a{
    text-decoration: none;
    color: $color-content;
    display: block;
}

a:hover{
    color: green;
}

p{
    margin-bottom: 0;
}